In [1]:
from function import split_data

In [2]:
import pandas as pd

In [3]:
data = 'https://raw.githubusercontent.com/EvidenceN/Life-Expectancy-Prediction/master/Life%20Expectancy/Data/Life%20Expectancy%20Data.csv'

In [4]:
life = pd.read_csv(data)

In [5]:
train, test, val = split_data(life)

In [6]:
train.head()

,Country,Year,Status,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,...,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
850,Eritrea,2015,Developing,64.7,255.0,5,NaN,0.000000,95.0,198,...,95.0,NaN,95.0,0.4,NaN,NaN,8.4,8.2,0.418,5.0
848,Equatorial Guinea,2001,Developing,53.1,334.0,3,5.07,197.783955,NaN,1339,...,43.0,1.78,35.0,2.3,2283.87939,639762.0,1.6,1.4,0.527,8.0
2420,South Sudan,2004,Developing,51.4,383.0,29,NaN,0.000000,NaN,0,...,NaN,NaN,NaN,3.8,NaN,7787655.0,NaN,NaN,0.000,0.0
2497,Swaziland,2007,Developing,50.0,51.0,3,5.55,43.366500,92.0,0,...,88.0,7.50,87.0,40.7,347.48798,1138434.0,6.5,6.7,0.508,10.5
2281,Seychelles,2015,Developing,73.2,168.0,0,NaN,0.000000,98.0,0,...,97.0,NaN,97.0,0.1,1539.46400,93419.0,5.7,6.0,0.781,14.1

In [7]:
life.shape

(2938, 22)

In [8]:
train.shape

(2122, 22)

In [9]:
test.shape

(441, 22)

In [10]:
val.shape

(375, 22)

In [17]:
from class_test import Easy

IndentationError: expected an indented block (class_test.py, line 34)